In [ ]:
/**************************实验七*************************/
--1.检索至少选修“数据结构”和“C语言”的学生学号
select distinct A.stu_id from StudentGrade A,StudentGrade B 
where exists (select * from Course A,Course B  
	where  A.Course_name  like '%数据结构%' and B.Course_name  like '%数据库%')
--2.列出所有班名、班主任、班长、系名。（连接查询，进一步考虑外连接，有的班级没有班长，需要考虑所有班级信息）
select class_name, Monitor from   
--3.查询选修了“数据结构”这门课程的同学的所有选课情况，结果列包含学号、姓名、课程号、课程名
select Stu_id, Stu_name,Course_id,Course_name from StudentGrade inner join Student on stu_id
	inner join Course on Course_id where Course_name like '%数据结构%' 
--4.查询选课最多的学生成绩排名，结果列包含学号姓名，选修课程号，课程名，排名情况
select Stu_id,Course_id, Course_name,Rank()over(partition by Course_id order by grade) 排名 
from Student inner join StudentGrade on stu_id 
	inner join Course on Course_id 
	

--5.查询选修了所有课程的学生信息，请用两种方法

--6.查询选修了苏贤兴同学所选的课程学生信息

--7.查询没有学生选的课程信息。请用两种解法

In [ ]:
/**************************实验七*************************/
--1.检索至少选修“数据结构”和“C语言”的学生学号
select distinct A.stu_id from StudentGrade A,StudentGrade B 
where exists (select * from Course A,Course B  
	where  A.Course_name  like '%数据结构%' and B.Course_name  like '%数据库%')

--2.列出所有班名、班主任、班长、系名。（连接查询，进一步考虑外连接，有的班级没有班长，需要考虑所有班级信息）
/*select class_name,Teac_name, Monitor, Deparment from Class inner join */ 
select distinct class_name,Teac_name,stu_name,Depar_name
from class a left join deparment b on a.depar_id=b.depar_id
	left join teacher on a.depar_id=Teac_id
	left join student on Monitor=stu_id


--3.查询选修了“数据结构”这门课程的同学的所有选课情况，结果列包含学号、姓名、课程号、课程名
select Stu_id, Stu_name,Course_id,Course_name from StudentGrade inner join Student on stu_id
	inner join Course on Course_id where Course_name like '%数据结构%' 

--4.查询选课最多的学生成绩排名，结果列包含学号姓名，选修课程号，课程名，排名情况
select Stu_id,Course_id, Course_name,Rank()over(partition by Course_id order by grade) 排名 
from Student inner join StudentGrade on stu_id 
	inner join Course on Course_id 
	

--5.查询选修了所有课程的学生信息，请用两种方法
select *
from student
where not exists(select*
	from (select course_id
        from course
        ) a
    where not exists(select *
        from StudentGrade
        where StudentGrade.Stu_id=student.Stu_id and
            StudentGrade.Course_id=a.Course_id
            )					
    )

select *
from student
where stu_id  not in (select stu_id
    from studentgrade
    group by stu_id having count(course_id)<select distinct(course_id) from 
    StudentGrade)


--6.查询选修了苏贤兴同学所选的课程学生信息
select *
from student
where not exists(
    select *
    from (select course_id
        from student a join studentgrade b on a.Stu_id=b.Stu_id
        where a.stu_name='苏贤兴') as c
    where not exists(select*
        from studentgrade
        where StudentGrade.stu_id=student.Stu_id and
            StudentGrade.Course_id=c.Course_id
        )		
)

select *
from student
where stu_id in (select stu_id
    from studentgrade
    where course_id in (select a.course_id
        from studentgrade a join student b on a.stu_id=b.stu_id
        where stu_name='苏贤兴')
    group by stu_id having count(course_id)>=5)







select * from Student 
where Not exists (select * From StudentGrade 
	where Student.Stu_id = StudentGrade.stu_id And Grade =70)

--7.查询没有学生选的课程信息。请用两种解法
select *
from course
where course_id in (select course_id
    from studentgrade
    group by course_id having count(grade)=0)

select *
from course
where course_id not in (select course_id
    from studentgrade
    group by course_id having count(grade)>0)