In [ ]:
/*****************实验六******************/

--1.统计年龄大于30岁的学生人数 （找不到，设置年龄太大了，20）
select Count(*) from Student 
	where year(getdate())-year(birthdate) >20

--2.统计数据结构有80分以及以上的人数
select Count(*) from StudentGrade
	where Grade>80 and Course_id = (select Course_id 
		from Course
		where Course_name='数据结构')

--3.查询“0203”课程的 最高分的学生学号（压根没选这门课的，C0102）
--方法一
select top 1 stu_id from StudentGrade 
	where Course_id ='C0102'
	order by Grade 
--方法二///*****未完成...
select stu_id,Course_id,grade 
from StudentGrade
where  grade in (select max(grade) from StudentGrade
						where Course_id = 'C0102')
and Course_id = 'C0102'

--4.统计各系开设的班级的数目（系名称、班级数目）并创建结果表（考虑没有班级的系）
select Class.Depar_id,Depar_name,count(Class_id)
from Class inner join Deparment 
	on Class.Depar_id = Deparment.Depar_id
    join 

select count(Class_id) from class