In [ ]:
/*****************实验六******************/

--1.统计年龄大于30岁的学生人数 （找不到，设置年龄太大了，20）
select Count(*) from Student 
	where year(getdate())-year(birthdate) >20

--2.统计数据结构有80分以及以上的人数
select Count(*) from StudentGrade
	where Grade>80 and Course_id = (select Course_id 
		from Course
		where Course_name='数据结构')

--3.查询“0203”课程的 最高分的学生学号（压根没选这门课的，C0102）
--方法一
select top 1 stu_id from StudentGrade 
	where Course_id ='C0102'
	order by Grade 
--方法二///*****未完成...
select stu_id,Course_id,grade 
from StudentGrade
where  grade in (select max(grade) from StudentGrade
						where Course_id = 'C0102')
and Course_id = 'C0102'

--4.统计各系开设的班级的数目（系名称、班级数目）并创建结果表（考虑没有班级的系）
select Class.Depar_id,max(Depar_name) 系名称,count(Class_id)
from Class right outer join Deparment 
	on Class.Depar_id = Deparment.Depar_id
	group by Class.Depar_id 
    

--5.统计各门课程的选修人数,并按人数降序排序，找出排名前三（top 3 没办法考虑并列问题）
select Course_id from StudentGrade
	group by Course_id 
	having count(stu_id)in(select
		top 3 count(stu_id) from StudentGrade 
		group by Course_id)

--6.统计每科目的最高分、最低分、平均数、总分，并以中文列名显示
select course_id 课程号,max(grade)最高分,min(grade)最低分,avg(grade)平均分,sum(grade)总分 from StudentGrade
group by Course_id

--7.查询所有70分以上的学生姓名（使用子查询，需要考虑未选课的学生）
/*这个要有逆向思维，全>70,比较难找，就找不能包含有<70的*/
/*这里还要考虑没有选课的同学，即成绩为null*/
select stu_name from student where stu_id not in 
	(select stu_id from StudentGrade 
	where Grade <70 or grade= Null)

--8.“数据库”课程得分最高的学生学号，姓名和所在系
--未完成...
select Student.stu_id, stu_name, Depar_name from student
		inner join Class on Class.Class_id = Student.Class_id
		inner join Deparment on Deparment.Depar_id=Class.Depar_id		
where Student.stu_id =(select stu_id from studentgrade
	inner join course on studentGrade.Course_id=Course.course_id
	where Course_name like '%数据库%' and grade =(select max(grade)
		from studentGrade where Course_name like '%数据库%'))
		

--9.至少选修了两门课以及以上的学生姓名和性别
select stu_name,stu_sex from student 
where stu_id in (select stu_id from StudentGrade
	group by stu_id having count(stu_id)>=2 )