In [ ]:
/***************插入****************/
--insert into 表名（...） values（...）
insert into People(PeopleName,PeopleSex,PeopleSalary)
values('Marry','girl','5000')
/*没写入的就以null出现*/

/*从某一表选择某些列插入新表*/
SELECT Stu_name,Stu_sex,Class_id into Newtest FROM Student 
--这里不需要建一个新表，它会自动生成

In [ ]:
/**********************更新*********************/
update BankCard set CardMoney = CardMoney -1000 where CardNo = '65535'