In [ ]:

select [year],sum([value])point_values from charge 
where region ='China'
group by [year]

select [year],max(region)Country, parameter,powertrain,sum([value])sale_value
from sales
where region ='China' and parameter = 'EV sales'
group by parameter ,[year],powertrain,region,category

select [year],max(region)Country, parameter,powertrain,sum([value])sale_value
from sales
where region ='China'and(parameter ='EV sales share' or parameter ='EV stock share')
group by parameter ,[year],powertrain,region,category


SELECT *  
FROM (  
    SELECT [year], SUM([value]) AS point_values  
    FROM charge  
    WHERE region = 'China'  
    GROUP BY [year]  
) AS a  
JOIN (  
    SELECT [year], MAX(region) AS Country, parameter, powertrain, SUM([value]) AS sale_value  
    FROM sales  
    WHERE region = 'China' AND (parameter = 'EV sales' OR parameter = 'EV stock share')  
    GROUP BY parameter, [year], powertrain, region, category  
) AS b ON a.[year] = b.[year]  
JOIN (  
    SELECT [year], MAX(region) AS Country, parameter, powertrain, SUM([value]) AS sale_value  
    FROM sales  
    WHERE region = 'China' AND (parameter = 'EV sales share' OR parameter = 'EV stock share')  
    GROUP BY parameter, [year], powertrain, region, category  
) AS c ON a.[year] = c.[year];