---------------------目录-------------------------
1.查询
2.运算符条件查询
3.排序
4.特殊值选取
5.模糊查询
6.聚合函数
7.分组查询
8.多表查询
---------------------------------------------------

In [ ]:
/******************1.查询******************/
/********函数之间是可以相互嵌套的**********/
--查询表所有行、列
--这里后面不带where就是所有行,*表示所有列
select * from Department [where city =='Beijing']

--只查询（姓名、性别、电话）
select PeopleName,PeopleSex,PeoplePhone from PeopleName 
--只查询（姓名、性别、电话）并把列明翻译成中文名，空格取别名，不修改列名
select PeopleName 姓名,PeopleSex 性别,PeoplePhone 电话 from PeopleName 

--distinct()  查询出员工所在城市(不需要重复城市)
select distinct (PeopleAdress) from People 
/*distinct()是清除重复的数据的函数*/

--假设准备加工资(上调20%)，查询出加工资后的员工数据
select PeopleName,PeopleSalary*1.2 from People

/*查询出加工资前后对比*/--添加了一列
select PeopleName,PeopleSalary,PeopleSalary*1.2  from People
select *,PeopleSalary*1.2 from People

In [ ]:
/*****************2.运算符条件查询*******************/
select * from People 
--where  查询性别为女的员工
select * from People where PeopleSex ='女'

--><=    查询工资大于1000
select * from People where PeopleSalary>10000

--and    多条件查询 
select * from People where PeopleSex = '女' and PeopleSalary>10000

--or     或条件查询
select * from People where PeopleSalary>10000 or (PeopleSalary<800 and PeopleSex='女' and PeopleBirth>='1980-1-1')
-----------------这里的日期可以不输入时间，不输入默认为00:00:00,所以一般不写 “ = ”

--and 或 between and 区间查询
select * from People where PeopleSalary>10000 and PeopleSalary<20000
select * from People where between 10000 and 20000

--in   多or查询
select * from People where PeopleAdress in ['武汉','北京']

In [ ]:
/*********************3.排序*************************/
--order by 根据什么来排序
--asc 升序(默认)，desc 降序
select * People order by PeopleSalary asc

--len()计算长度
select * People order by len(PeopleName)

--top 5表示只取出前5
--top 10 percent  给出前10%
select top 5 * from People order by PeopleSalary

--null 查询用 is
select * from People where PeopleAdress is null
select * from People where PeopleAdress is not null
/*空值与空字符串不同*/

In [ ]:
/******************4.特殊值选取********************/
--year(PeopleBirth)获取出生年份
/*选出80后的人*/
select * from People where year(PeopleBirth) bewteen 1980 and 1989

--month(PeopleBirth)获取出生月份
select * from People where month(PeopleBirth) bewteen 2 and 6

--getdate()取出当前时间
/*年龄大于40岁的人*/
select * from People where year(getdate()) -year(PeopleBirth)<=40

--个体比较查询（子查询、嵌套查询）
/*找出工资比赵云高的人*/
select * from People where PeopleSalary>(select PeopleSalary from People where PeopleName='赵云')

--数值运算查询
/*查出属猴的人*//*属猴的人出生年份%12=0*/--2004%12=0
select * from People where year(PeopleBirth)%12=0


/******选择判断语句,类似与if else**********
case
    when ... then ...
    when ... then ...
    when ... then ...
    else ...
end 别名
*****************************************/
/*输出一列来记录人员的生肖*/
select *, 
case 
    when  year(PeopleBirth)%12=4 then '鼠'
    when  year(PeopleBirth)%12=5 then '牛'
    when  year(PeopleBirth)%12=6 then '虎'
    when  year(PeopleBirth)%12=7 then '兔'
    when  year(PeopleBirth)%12=8 then '龙'
    else ''--都不符合就是null或其他了
end 生肖 --这里没有用‘ ’注意

/*简化优化代码,类似于switch case*/
select *, 
case year(PeopleBirth)%12
    when  4 then '鼠'
    when  5 then '牛'
    when  6 then '虎'
    when  7 then '兔'
    when  8 then '龙'
    else ''
end 生肖

In [ ]:
/*****************5.模糊查询******************/
/*******************************************
%：可以代替0个或1个或多个字符
_:可以代替有且仅有1个字符
[]:内部填写数据范围代替
[^]:内部填写数据范围排除
********************************************/

--like 代替原先的=
/*查出姓名刘字开头的*/
select * from People where PeopleName like '刘%'
/*查出含有山的姓名*/
select * from People where PeopleName like '%山%'--%可以为无
/*查询电话*/
select * from People where PeoplePhone like '138[3,6][4-9]%'
select * from People where PeoplePhone like '136[3,5]%[^3,5]'

--substring('abcde',3,1)从第三个字开始截取一个   /*这里不是从0开始数的*/
substring('abcde',3,1)

/*确定名字长度和姓氏查找*/
select * from People where PeopleName like '刘__'
select * from People where substring (PeopleName,1,1)='刘' and len(PeopleName)=3

In [ ]:
/***********************6.聚合函数**************************/
/*********************************************************
count()求数量
max()求最大值
min()求最小值
sum()求最总值
avg()求最平均值
**********************************************************/
/*************************************
round(23.5621，2)求保留两位数的值
datediff(year,PeopleBrith,getdate)  PeopleBrith,getdate都取year来做差
*************************************/

/*求员工总人数*/
select count(*) 人数 from People 
/*select * from People 表示打印出所有数据，select count(*) from People表示打印出所有数据的行数*/

/*求最高工资*/
select max(PeopleSalary) 最高工资 from People
--索取工资这一列，再选取最高工资打印出来

/*全部统计描述*/
select count(*) 人数,max(*) 最高工资,min(*) 最少工资,sum(*) 工资总额,
round(avg(PeopleSalary),2) 人均工资 from People  

/*在表上多加一列年龄*/
select *,year(getdate())-year(PeopleBirth) 年龄 from People
select *,datediff(year,PeopleBrith,getdate) 年龄 from People

/*将平均年龄，最大年龄，最小年龄，总人数打印成一行*/ 
select avg(year(getdate())-year(PeopleBirth)) , max(year(getdate())-year(PeopleBirth))
 min(year(getdate())-year(PeopleBirth)),count(*) from People


 /*查询月薪在10000以上的男员工最大年龄，最小年龄，平均年龄*/
 select '男' 性别,'薪水>=10000' 薪资情况 ,max(year(getdate())-year(PeopleBirth)),
 max(year(getdate())-year(PeopleBirth)),avg(year(getdate())-year(PeopleBirth))
 from People  where PeopleSex='男' and PeopleSalary>=10000

In [ ]:
/***************7.分组查询***************/

/***************************************
union 查询结果合并，必须列数相同
*************************************/

/*查询北京和武汉两地的员工人数和总工资*/
--方案一
select '武汉' 地区, count(*),sum(PeopleSalary) from People wehre PeopleAdress ='武汉' 
union select '北京' 地区,count(*) ,sum(PeopleSalary) from People wehre PeopleAdress ='北京' 
/*这里的格式就是要显示的数据+列名; 字符串数据要加' ' ,列表名不需要*/

--方案二:分组
--group by 
/*group by 使用时候，因为是按组数显示函数的，不能出现一组多行的情况
所以显示的列只能是group by 后面跟随的列名，或者用聚合函数将数据很成一行*/
select PeopleAdress 地区,count(*),sum(PeopleSalary) from People group by PeopleAdress
/*这里会分地区显示，但不能添加入PeopleName这些列，因为按地区来划分，这里每一行都代表多个人的统计结果，没办法显示个人*/
--上面的案例在显示count（*）的时候，不能无脑的选择*，因为用行来计数，即使数据为空也会显示一行

--where 添加在group前面 
/*选择在1986年以后出生员工*/
select PeopleAdress 地区,count(*),sum(PeopleSalary) from People
where PeopleBirth<'1986-1-1' group by PeopleAdress 

--having 聚合函数，含有group by的语句中，where条件不能包含聚合函数
/*地区分组查询总数大于2的地区*/
select PeopleAdress 地区,count(*) 员工人数 from people group by PeopleAdress
having count(*)>=2

![Alt text](image.png)

In [ ]:
/***********8.多表查询**************/

--笛卡尔乘积合并
/*把两个表用笛卡尔积合并*/
select * from People,Department

--自然连接/*通过两个表的rankID相同连接起来*/
select * from People,[Rank]
where People.RanktID=[Rank].RankID

--内连接查询
/*把两个表通过部门ID连接起来*/
select * from  People inner join Department
on  People.DepartmentId=Department.DepartmentId

/*多个表连接一起*/
select* 
from People inner join Department
on  People.DepartmentId=Department.DepartmentId   --这里People会放在前面，后面接Department
inner join Department on People.DepartmentId=[Rank].DepartmentId
/*这里可以理解为一个表连接以后再通过这个表再连接一次，如此循环，把所有表连接起来后显示* ，即为全部*/
/*这里，不符合主外键关系的数据不会被显示：就是在两个表之间没能找到匹配数据的不显示（无论在哪一个表）*/


--外连接（左外连、右外连、全外连）
/*********************
left  jion ... on... 以左表为主表，左表全部显示，找不到匹配用null
right jion ... on... 以右表为主表，左表全部显示，找不到匹配用null
full  jion ... on... 两个表的信息都显示，没匹配到的用null
**********************/

--自连接（自己连自己）
/*把自己定义为A、B表来连接*/
select * from Department A inner jion Department B on A.ParentID=B.DeptID 

--嵌套查询
/*查询选修了‘0109’和‘0111’课程的同学*/
select stu_id from StudentGrade where Course_id = 'C0109'
and stu_id in (select stu_id from StudentGrade where Course_id ='C0111')

--交运算
/*查询选修了‘0109’和‘0111’课程的同学*/
select stu_id from StudentGrade where Course_id ='C0109'
intersect 
select Stu_id from StudentGrade where Course_id ='C0111'

/*当所需要的信息可以在一个表中找到，就是另一个表只是用来作为筛选条件的话，可以用叫运算或嵌套查询*/

In [ ]:
/************9.综合查询***************/
/*select DepartmentID 时候下面是多表连接可能会出现报错，因为在不同表的都出现DepartmentID，
因此要用People.DepartmentID*/